<div class="main">
  <header class="header">
    <div class="logo">
      <h1>LOGO</h1>
    </div>
    <div class="navbar">
      <div class="create" (click)="onEditPost()">
        Add New Post
      </div>
     
      <!-- <input class="oddSolution" [(ngModel)]="userName" readonly>  -->
      <div class="auth" (click)="onLogin()">
        Login
      </div>
    </div>
  </header>
  <nav>
    <ul class="menu__ul">
      <li class="menu__li"><a>Posts</a></li>
      <span class="one"></span>
      <li class="menu__li"><a>Comments</a></li>
      <span class="one"></span>
      <li class="menu__li"><a>Settings</a></li>
    </ul>
  </nav>
  <section class="content">
    <router-outlet></router-outlet>
    
  </section>
  <footer class="footer">
    <p>2019</p>
  </footer>
</div>