
 form{

    width: 100%;
    background: #f4f7fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
textarea{
    flex-grow: 1;
    width: 100%;
    resize: none;
    padding: 5px;
    font-size: 30px;
    color: #313541;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    outline: none;
    border: none;
    position: relative;
    
}
 input{
    
    font-size: 50px;
    padding: 5px 0;
    color: #313541;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;   
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);

}

 input, button{

    display: block;
    width: 70%;
    
    border:none;
    outline: none;
}
 button {
     width: 100%;
    letter-spacing: 20px;
    background: #56bf89;
    color: white;
    border: 1px solid #56bf89;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    padding: 5px 0;
    font-size: 50px;
    font-weight: bold;   
}
 button:hover{
    background: white;
    transition: 0.7s ease;
    border: 1px solid #56bf89;
    color: #56bf89;
}

 

.fileInput{
    width: 100%;
    
    background: #dc5a60;
    color: white;
    border: 1px solid #dc5a60;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    padding: 5px 0;
    font-size: 50px;
    font-weight: bold; 

}
.fileInput:hover{
    transition: 0.5s ease;
    background: white;
    color: #dc5a60;
    border: 1px solid #dc5a60;
}
.validationDisplay{
    top: 35%;
    position: absolute;
    background: transparent;
    color: #dc5a60;
    font-size: 50px;
    font-weight: bold;
    animation: blink1 1s linear infinite;
}
@keyframes blink1 {
    0% { color: rgba(220, 90, 96, 1); }
    50% {  color: rgba(220, 90, 96, 0); }
    100% { color: rgba(220, 90, 96, 1);  }
  }

  .edit__img{
      width: 100%;
  }